<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Markdig" version="0.15.7" targetFramework="monoandroid71" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="monoandroid71" />
  <package id="SkiaSharp" version="1.68.0" targetFramework="monoandroid71" />
  <package id="SkiaSharp.Svg" version="1.60.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="28.0.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Annotations" version="28.0.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Compat" version="28.0.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.UI" version="28.0.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.Utils" version="28.0.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Design" version="28.0.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Fragment" version="28.0.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Media.Compat" version="28.0.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Transition" version="28.0.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="28.0.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.CardView" version="28.0.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="28.0.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="28.0.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Forms" version="3.4.0.1009999" targetFramework="monoandroid71" />
</packages>